@model IEnumerable<Panchayat.Models.PanchayatActivity>

@{
    ViewData["Title"] = "ActivitiesForUser";
}
<body class="row mt-0">
    <header class="sticky-top">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 shadow">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="RaiseFunds" asp-action="Create">Donate</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="PanchayatActivities" asp-action="ActivitiesForUser">Activities</a>
                        </li>
                        <li class="nav-item justify-content-end align-items-center d-flex w-100">
                            <button class="btn btn-danger rounded-pill shadow" onclick="location.href='@Url.Action("Index", "Home")'">
                                Log Out
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</body>
<h3 class="text-center mt-5"><span class="text-light shadow rounded-3 bg-success p-2">Activities</span></h3>

<div class="row mt-5 justify-content-center p-4">

    @foreach (var item in Model)
    {
        <div class="col-sm-12 col-md-4 mt-3 d-flex justify-content-center">
            <div class="card ms-2 shadow me-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <div>
                        <a asp-controller="PanchayatActivities" asp-action="ActivityDetailsForUser" class="text-decoration-none">@Html.ActionLink("Read more...", "ActivityDetailsForUser", new { item.Id }, new{@class = "text-decoration-none"})</a>
                    </div>
                </div>

            </div>
        </div>
    }
</div>
<div class="d-flex justify-content-center mt-5 ">
    <button style="width:120px" class="btn btn-secondary shadow"><a class="text-decoration-none text-light" asp-controller="Signups" asp-action="Index">Back</a></button>
</div>